<%- include("template/cabecera", {tituloWeb: 'Index' }) %>

  <div class="d-flex justify-content-center">
   <h2 class="text-center mt-3 col-6 rounded-5">
      <%= titulo %>
   </h2>
  </div>
  <div class="container text-center mt-5">
   <a class="btn btn-secondary" href="chars">Ir al CRUD</a>
</div>

   <%- include("template/footer") %>