</main>

<footer class="footer-bg d-flex justify-content-between p-3 align-items-center border-top">
    <span class="text-white">CRUD Express-Mongo, Game of Thrones - &copy; 2024 Efe Rojas</span>

    <ul class="nav justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a href="#">
                <i class="fa-brands fa-instagram text-white"></i>
            </a>
        </li>
        <li class="ms-3">
            <a href="#">
                <i class="fa-brands fa-facebook text-white"></i></i>
            </a>
        </li>
        <li class="ms-3">
            <a href="#">
                <i class="fa-brands fa-twitter text-white"></i>
            </a>
        </li>
    </ul>
</footer>

</body>

</html>